.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gloria {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
}

.marker {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

.picture {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 40px;
}

/* .satisfy {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
}

.courgette {
  font-family: 'Courgette', cursive;
  font-size: 40px;
} */

.lucky {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

.kaushan {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

.vibes {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

.fredoka {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

.nokora {
  font-family: 'Nokora', serif;
  font-size: 40px;
}

.sacramento {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}

.bangers {
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

.schoolbell {
  font-family: 'Schoolbell', cursive;
  font-size: 40px;
}
